body {
	padding-top: 5rem;
}

.main-content-box {
	padding: 1.5rem 1.5rem;
}
@media (max-width: 766px) {
	.main-content-box {
		padding: 1.5rem 0rem;
	}
}

/* Always see breadcrumbs, even on mobile */
@media (max-width: 441px) {
	.breadcrumb {
		margin-top: 2.2em;
	}
}

/* Mario font :) */
@font-face {
	font-family: 'PressStart2P';
	src: url('../fonts/PressStart2P.ttf') format("truetype");
}

.main-title {
	font-family: PressStart2P;
	padding-left: 0.29em;
}

/* Card deck rows */
.card-rows {
	display: flex;
	flex-wrap: wrap;
}

.card-rows > div[class*='col-'] {
	display: flex;
	margin: 0.69em 0;
}

/* Allow entire card to be a link */
a.card {
	color: inherit;
	text-decoration: inherit;
}
a.card button {
	z-index: 1;
}

a.card.disabled,
a.card[disabled] {
	pointer-events: none;
	opacity: .8;
}

/* No adding for group list items */
.list-group-item {
	padding-left: 0;
}

/* Add some vertical padding for stats box on narrow viewports */
@media (max-width: 472px) {
	.stats-box-title {
		padding-top: 0.69em;
	}
}
