{% extends "leaderboards/base.html" %}

{% block subtitle %} - {{ course.name }}{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url "course-list" %}">Courses</a></li>
	<li class="breadcrumb-item active" aria-current="page">{{ course.name }}</li>
{% endblock %}

{% block content %}
	<h1>{{ course.name }}</h1>

	<div>
		<div class="row justify-content-start" style="padding-top: 1em">
			<div class="col" style="padding-top: 0.19em">
				<img class="rounded" src="{{ course.preview_image.url }}">
			</div>
			<div class="col">
				<h3>Stats</h3>
				<ul class="list-group list-group-flush">

					{# Display top records and record counts #}
					{% with best_six_star_record=course.get_top_six_star_record %}
						{% if best_six_star_record == None %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-crown"></i>: No one!</li>
						{% else %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-crown"></i>: {{ best_six_star_record.user.username }}</li>
						{% endif %}
					{% endwith %}

					{% with num_six_star_records=course.get_six_star_record_count %}
						{% if num_six_star_records == 1 %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-chart-bar"></i>: {{ num_six_star_records }} record</li>
						{% else %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-chart-bar"></i>: {{ num_six_star_records }} records</li>
						{% endif %}
					{% endwith %}

					{% with best_seven_star_record=course.get_top_seven_star_record %}
						{% if best_seven_star_record == None %}
								<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">7</span> <i class="fa fa-crown"></i>: No one!</li>
						{% else %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">7</span> <i class="fa fa-crown"></i>: {{ best_seven_star_record.user.username }}</li>
						{% endif %}
					{% endwith %}

					{% with num_seven_star_records=course.get_seven_star_record_count %}
						{% if num_seven_star_records == 1 %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-chart-bar"></i>: {{ num_seven_star_records }} record</li>
						{% else %}
							<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span> <i class="fa fa-chart-bar"></i>: {{ num_seven_star_records }} records</li>
						{% endif %}
					{% endwith %}

				</ul>
			</div>
		</div>
	</div>

	{# Display the record in a DataTable #}
	<div style="padding-top: 3em">
		{% include "leaderboards/includes/records_datatable.html" with record_set=course.get_six_star_records table_id="course_records" %}
	</div>

{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function(){
			$('#course_records').DataTable({
				"columnDefs": [
					{"orderable": false, "targets": 4}
				]
			});
		});
	</script>
{% endblock %}
