{% extends "leaderboards/base.html" %}

{% block subtitle %} - courses{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item active" aria-current="page">Courses</li>
{% endblock %}

{% block content %}
	<div class="card-rows">
		{% for course in course_list %}
			<div class="col-sm-4">
				<a href="{% url "course-detail" course.course_number %}" class="card">
					<img class="card-img-top img-fluid" src="{{ course.preview_image.url }}">
					<div class="card-body">
						<h5 class="card-title">{{ course.name }}</h5>
						<ul class="list-group list-group-flush">

							{# Display top records #}
							{% with best_six_star_record=course.get_top_six_star_record best_seven_star_record=course.get_top_seven_star_record %}
								{% if best_six_star_record == None %}
									<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span>: No records!</li>
								{% else %}
									<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">6</span>: {{ best_six_star_record.user.username }}</li>
								{% endif %}

								{% if best_seven_star_record == None %}
									<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">7</span>: No records!</li>
								{% else %}
									<li class="list-group-item"><i class="fa fa-star" style="color: gold"></i> <span style="font-weight: bold">7</span>: {{ best_seven_star_record.user.username }}</li>
								{% endif %}
							{% endwith %}

						</ul>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
