{% extends "leaderboards/base.html" %}

{% block breadcrumbs %}
	<li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
	<h2 style="padding-bottom: 1em"><i class="fa fa-chart-line"></i> Recent activity</h2>

	{% if event_list %}
		{# Infinite container using Waypoint #}
		<div class="infinite-container recent-activity-box">
			{% for event in event_list %}
				<div class="infinite-item">
					<div class="row">
						<div class="col-sm-2">
							<img class="rounded img-fluid" src="{{ event.image.url }}">
						</div>
						<div class="col">
							<p class="column-detail-title" style="max-width: 30em">
								<span class="font-weight-bold"><i class="fa fa-crown"></i> {{ event.datetime|timesince }} ago:</span>
							 {{ event.text }}!
							</p>
						</div>
					</div>

					<hr>
				</div>
			{% endfor %}
		</div>

		<div class="loading" style="display: none;">
			<p class="font-weight-bold" style="text-align: center">loading</p>
		</div>

		{% if page_obj.has_next %}
			<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
		{% endif %}
	{% else %}
		<p class="font-weight-bold" style="text-align: center">No events to show <i class="far fa-frown"></i></p>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script>
		var infinite = new Waypoint.Infinite({
			element: $('.infinite-container')[0],
			onBeforePageLoad: function () {
				$('.loading').show();
			},
			onAfterPageLoad: function ($items) {
				$('.loading').hide();
			}
		});
	</script>
{% endblock %}
