{% extends "leaderboards/base.html" %}

{% block breadcrumbs %}
	<li class="breadcrumb-item active" aria-current="page">Home</li>
{% endblock %}

{% block content %}
	{# Display a welcome message #}
	<div class="jumbotron" style="padding-top: 1em; padding-bottom: 1em">
		{% if user.is_authenticated %}
			<h1 class="">Welcome back {{ user.username }}!</h1>
			<p class="lead">Want to add a new record?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url "record-submit-home" %}" role="button">Let's do it</a>
			</p>
		{% else %}
			<h1 class="">Welcome to Mario 64 Rivals!</h1>
			<p class="lead">Did you want to sign in?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{% url "login" %}" role="button">Let's do it</a>
			</p>
		{% endif %}
	</div>

	<h2 style="padding-bottom: 1em"><i class="fa fa-chart-line"></i> Recent activity</h2>

	{% if event_list %}
		{# Infinite container using Waypoint #}
		<div class="infinite-container recent-activity-box">
			{% for event in event_list %}
				<div class="infinite-item">
					<div class="row">
						<div class="col-90" style="padding-left: 10px">
							<img class="rounded" src="{{ event.image.url }}" width=80px>
						</div>
						<div class="col">
							<p style="max-width: 30em">
								<i class="fa fa-crown"></i>
								<span class="font-weight-bold"> {{ event.datetime|timesince }} ago:</span>
								{{ event.text }}!

								{% if event.video_url %}
									<a href="{{ event.video_url }}"><i class="fa fa-video"></i></a>
								{% endif %}

								{% if event.information_url %}
									<a href="{{ event.information_url }}"><i class="fa fa-list-ol"></i></a>
								{% endif %}
							</p>

							<hr style="max-width: 30em; margin-left: 0">
						</div>
					</div>

				</div>
			{% endfor %}
		</div>

		<div class="loading" style="display: none;">
			<p class="font-weight-bold" style="text-align: center">loading</p>
		</div>

		{% if page_obj.has_next %}
			<a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
		{% endif %}
	{% else %}
		<p class="font-weight-bold" style="text-align: center">No events to show <i class="far fa-frown"></i></p>
	{% endif %}
{% endblock %}

{% block scripts %}
	<script>
		var infinite = new Waypoint.Infinite({
			element: $('.infinite-container')[0],
			onBeforePageLoad: function () {
				$('.loading').show();
			},
			onAfterPageLoad: function ($items) {
				$('.loading').hide();
			}
		});
	</script>
{% endblock %}
