{% extends "leaderboards/base.html" %}

{% block subtitle %} - submit category record{% endblock %}

{% block breadcrumbs %}
	<li class="breadcrumb-item"><a href="{% url "record-submit-home" %}">Submit record</a></li>
	<li class="breadcrumb-item active" aria-current="page">Category record<li>
{% endblock %}


{% block content %}
	<h1>Submit category record</h1>

	<form method="post" style="padding-top: 1em" novalidate>
		{% csrf_token %}
		{% include "leaderboards/includes/bootstrap4_form.html" with form=form %}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
{% endblock %}
